<!DOCTYPE html>
<html lang="ru" xmlns:th ="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добавление нового человка</title>
</head>
<body>

<h1>Create Person</h1>
<form th:method="POST" th:action="@{/index}" th:object="${person}">

    <label for="name">Введите логин: </label>
    <input type="text" th:field="*{name}" id="name">
    <br/>
    <br/>
    <label for="password">Введите пароль: </label>
    <input type="text" th:field="*{password}" id="password">
    <br/>

    <input type="submit" value="Добавить!"/>
</form>
</body>
</html>